@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
}

body {
    background: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #000;
}

html,
body {
    height: 100%;
}

html {
    height: 100%;
}

body.vertical-layout {
    height: initial;
    min-height: 100%;
}
a,
a:hover,
a:focus {
    text-decoration: none;
}


/************/

#login-panel {
    display: table;
    height: 100%;
    margin: auto;
    max-width: 450px;
}

#login-panel-inner {
    display: table-cell;
    vertical-align: middle;
}

.login-panel-header {
    /*background: #822a19;*/
    padding: 50px 0px;
}

.login-panel-header h1 {
    color: #fff;
    font-size: 70px;
}

.login-panel-header h1 span {
    font-size: 120px;
}

.login-panel-header h4 {
    color: #fff;
}

form#loginForm {
    border-top: 1px dashed rgba(89, 89, 89, 0.16);
    padding: 30px 10% 40px 10%;
}

#loginForm input {
  background: transparent;
  border: 1px solid rgba(136, 136, 136, 0.26);
  color: #858585;
  font-size: 12px;
  margin: 10px 0%;
  padding: 9px 10px 7px 10px;
  position: relative;
  width: 100%;
  -webkit-transition: all ease-in-out 200ms;
  -moz-transition: all ease-in-out 200ms;
  -ms-transition: all ease-in-out 200ms;
  -o-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}
#loginForm input:focus{
	border-color: #9d9d9d;
}
#loginForm input::after{
	background: #fff;
	bottom: 0;
	content: '';
	height: 1px;
	position: absolute;
	width: 100%;
}
#loginForm button{
  background: #333E48;
  border: 1px solid #333E48;
  color: #fff;
  font-size: 14px;
  margin: 20px auto 0 auto;
  padding: 5px 35px;
}


/**************/

.navbar-fixed-top {
    background: #fff;
    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
    box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
    margin-bottom: 0;
}

.navbar-nav>li>a.navbar-brand {
    padding: 7px 0px;
}

.main-menu.menu-dark .navigation {
    background: #404E67;
}

a.menu-srink {
    font-size: 24px;
    padding: 0px 12px;
    margin: 7px;
    display: inline-block;
    color: #355569;
    border: 1px solid #eaeaea;
    cursor: pointer;
}


/******************/

@media (min-width: 768px) {
    .vertical-layout {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
    }
    body.vertical-layout.vertical-menu.menu-expanded .main-menu {
        /*width: 240px;*/
        background: #fff;
    }
    body.vertical-layout.vertical-menu.menu-expanded #main-menu {
        width: 240px;
        background: #fff;
    }
    .main-menu.menu-fixed {
        position: relative;
        min-height: 100%;
        background: #fff;
        z-index: 9;
        -webkit-transition: .3s ease all;
        -o-transition: .3s ease all;
        -moz-transition: .3s ease all;
        transition: .3s ease all;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, .1);
        box-shadow: 1px 0 5px rgba(0, 0, 0, .1);
        float: left;
    }
    html body.fixed-navbar {
        padding-top: 52px;
    }
}


/******************/

.navigation-main li a {
    color: #fff;
}

.main-menu .navigation>li.open>a {
    color: #C3C3C3;
    background: #38445A;
    display: block;
    padding: 10px 15px;
}

.main-menu .navigation>li ul li>a {
    padding: 10px 18px 10px 50px;
}

.main-menu .navigation li a {
    color: #DCDCDC;
    display: block;
}

.navbar-brand {
    padding: 8px 20px;
}

.navbar-header {
    position: relative;
    z-index: 999;
}


/**********************/

.vertical-menu #main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.vertical-menu #main-menu li {
    position: relative;
    margin: 0;
    font-size: 12px;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.vertical-menu #main-menu li i {
    position: relative;
    font-size: 12px;
    margin-right: 5px;
}

.vertical-menu #main-menu li a {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #444;
    background: #fff;
    z-index: 2;
    -moz-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}

.vertical-menu #main-menu li a i {
    top: 1px;
    display: inline-block;
}

.vertical-menu #main-menu li a span {
    -moz-transition: 350ms opacity ease-in-out;
    -o-transition: 350ms opacity ease-in-out;
    -webkit-transition: 350ms opacity ease-in-out;
    transition: 350ms opacity ease-in-out;
}

.vertical-menu #main-menu li a:hover {
    background-color: #355569;
    color: #ffffff;
}

.vertical-menu.menu-expanded #main-menu li.has-sub>a:hover:before {
    color: #fff;
}

.vertical-menu #main-menu li a .badge {
    position: relative;
    float: right;
    font-size: 11px;
    line-height: 1.3;
}

.vertical-menu #main-menu li a .badge.badge-primary {
    border: 1px solid #454a54;
    top: -1px;
}

.vertical-menu #main-menu li.active>a {
    background-color: #3390e9;
    color: #fff;
}

.vertical-menu.menu-expanded #main-menu li.has-sub>a:before {
    position: relative;
    content: '\f105';
    display: inline-block;
    font-family: 'Entypo';
    font-family: 'FontAwesome';
    color: #2c3648;
    float: right;
    font-size: 15px;
    margin-left: 13px;
    top: 0px;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.vertical-menu.menu-expanded #main-menu li.has-sub.active>a:before {
    color: #fff;
}

.vertical-menu.menu-expanded #main-menu li.has-sub.opened>a:before {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.vertical-menu #main-menu li ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgb(234, 234, 234);
    z-index: 1;
}

.vertical-menu.menu-expanded #main-menu li ul {
    display: none;
    overflow: hidden;
}

.vertical-menu.menu-expanded #main-menu li ul.visible {
    display: block;
}

.vertical-menu #main-menu li ul>li>a {
    background-color: #fff;
    padding-left: 40px;
}

.vertical-menu #main-menu li ul>li>a:hover {
    background-color: #355569;
}

.vertical-menu #main-menu li ul>li:last-child {
    border-bottom: 0;
}


/***** Sidebar Collapsed Menu *****/

body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
    width: 65px;
}


/*body.vertical-layout.vertical-menu.menu-expanded .main-menu.sidebar-collapsed {
  width: 65px;
}*/

.vertical-menu.menu-collapsed #main-menu li i {
    font-size: 20px;
}

.vertical-menu.menu-collapsed #main-menu li.root-level>a>span {
    display: none;
}

.vertical-menu.menu-collapsed #main-menu li ul {
    position: absolute;
    left: 100%;
    z-index: 999;
    width: 200px;
    visibility: hidden;
    top: 0;
    box-shadow: 1px 1px 3px #b7b7b7;
    -webkit-box-shadow: 1px 1px 3px #b7b7b7;
}

.vertical-menu.menu-collapsed #main-menu li.has-sub:hover ul {
    visibility: visible;
}

.vertical-menu.menu-collapsed #main-menu li ul li a {
    padding-left: 15px;
}


/************/

.avatar {
    position: relative;
    width: 30px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
}

.avatar,
.spinner,
.spinner-reverse {
    display: inline-block;
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    border-radius: 1000px;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link {
    padding: 10px;
}

.header-navbar .navbar-container .dropdown-menu-media {
    width: 24rem;
}

.header-navbar .navbar-container ul.nav li a.dropdown-user-link i {
    margin: 2px;
    font-size: 12px;
    line-height: 16px;
    color: #7e8898;
}

.header-navbar .navbar-container .dropdown-menu-media {
    width: 300px;
    padding: 0px;
}

.dropdown-header {
    padding: 5px 15px;
    font-size: 14px;
    color: #fff;
    background: #355569;
    display: inline-block;
    width: 100%;
    margin: 0px;
}

.dropdown-menu>li>a {
    white-space: normal;
    padding: 10px 15px !important;
}

p.notification-text {
    margin-bottom: 0;
    font-size: 12px;
}

.list-group {
    margin-bottom: 0px;
    padding-left: 0;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dropdown-menu-footer>a {
    white-space: normal;
    padding: 5px 20px !important;
    font-size: 12px;
    color: #355569 !important;
}

.dropdown-user span.user-name {
    font-size: 12px;
    margin-bottom: 3px;
    display: inline-block;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}

.navbar-nav .nav-link {
    color: #404E67;
}

.navbar-nav .nav-link i {
    color: #355569;
    font-size: 16px;
}

.dropdown-menu {
    min-width: 100px;
    background-color: #fff;
}

.navbar-nav>li>.dropdown-menu a.dropdown-item {
    font-size: 12px;
    padding: 2px 10px;
    width: 100%;
    display: inline-block;
    color: #303641;
}

body.vertical-layout.vertical-menu.menu-expanded .content {
    /*padding-left: 240px;*/
}

body.vertical-layout.vertical-menu.menu-collapsed .content {
    /*padding-left: 65px;*/
}

html body .content .content-wrapper {
    display: inline-block;
    padding: 30px;
    width: 100%;
}

html body .content {
    padding: 0;
    position: relative;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    -moz-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
}

.tile-stats.tile-white {
    background: #ffffff;
    border: 1px solid #ebebeb;
}

.tile-stats {
    position: relative;
    display: block;
    background: #fff;
    border: 1px solid #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tile-stats.tile-white .icon {
    color: #f2f2f2;
}

.tile-stats .icon {
    color: #f2f2f2;
    position: absolute;
    right: 5px;
    bottom: 30px;
    z-index: 1;
}

.tile-stats.tile-white .num,
.tile-stats.tile-white h4,
.tile-stats.tile-white p {
    color: #303641;
}

.tile-stats .num {
    font-size: 38px;
    font-weight: bold;
}

.tile-stats .num,
.tile-stats h4,
.tile-stats p {
    position: relative;
    color: #303641;
    z-index: 5;
    margin: 0;
    padding: 0;
}

.tile-stats .icon i {
    font-size: 100px;
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}


/***** Form CSS ******/

.form-control {
    background: #fff;
    border-radius: 0px;
    box-shadow: none;
    color: #999;
    font-size: 12px;
}

.nopadding {
    padding-left: 0;
    padding-right: 0;
}

textarea.form-control {
    height: 78px;
    resize: none;
}

label {
    font-weight: normal;
    font-size: 12px;
    color: #444;
}

.form-control[readonly] {
    background: #fff;
}

.form-group {
    margin-bottom: 10px;
}

.form-parentBlock {
    background: #fff;
    box-shadow: 0px 0px 2px #ccc;
    margin: 10px 0px;
    display: inline-block;
    width: 100%;
}

.block-title {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 0px 25px;
    background: #fafafa;
    color: #355569;
}

.block-title h4 {
    font-size: 14px;
    font-weight: normal;
}

.form-parentBlock-inner {
    padding: 15px 10px 5px 10px;
    display: inline-block;
    width: 100%;
}

.name_fields {
    padding: 0px 13px;
}

.name_fields .form-group {
    padding: 0px 2px;
}

.btn-primary {
    color: #fff;
    background-color: #355569;
    border-color: #355569;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #b50908;
    border-color: #355569;
}


/************/

.table {
    border: 1px solid #f4f4f4;
}

.table>thead {
    background: #f7f7f7;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 6px 12px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #f4f4f4;
    font-size: 12px;
    color: #000;
}

.table>thead>tr>th {
    font-size: 14px;
    font-weight: normal;
    border-bottom: none;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #f4f4f4;
}

.parentBlock {
    background: #fff;
    box-shadow: 0px 0px 14px rgba(192, 192, 192, 0.21);
    -webkit-box-shadow: 0px 0px 14px rgba(192, 192, 192, 0.21);
    margin: 15px 0px;
    padding: 30px;
}

.dataTables_info {
    display: none;
}

.pagination>li>a,
.pagination>li>span {
    padding: 5px 12px 3px 12px;
    color: #666;
    font-size: 12px;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    color: #fff;
    background-color: #355569;
    border-color: #355569;
}

div.dataTables_wrapper div.dataTables_filter input {
    height: 24px;
}

div.dataTables_wrapper div.dataTables_length select {
    padding: 2px 5px;
    height: 24px;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
    background: transparent;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
}

.hide-elem{
    display: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #444 !important;
    background: transparent;
}

.nav-tabs>li>a::after {
    content: "";
    background: #355569;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}


/*.tab-content{padding:20px}*/

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.heading-block {
    background: #fff;
    border-bottom: 3px solid rgba(188, 188, 188, 0.44);
}

.heading-block h4 {
    display: inline-block;
    padding: 0px 20px;
    color: #595959;
    font-size: 16px;
}

.dr_img {
        width: 60px;
    border-radius: 2px;
    height: 40px;
}

.btn-default.btn-icon i {
    background-color: #dbdbdd;
}

.btn-default.btn-icon.btn-sm.icon-left,
.btn-danger.btn-icon.btn-sm.icon-left {
    padding-right: 10px;
    padding-left: 28px;
}

.btn.btn-icon i {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.btn.btn-icon {
    position: relative;
}

.btn-default.btn-icon.btn-sm i {
    padding: 5px 6px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 2px;
}

.btn-danger.btn-icon.btn-sm i {
    padding: 5px 6px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 2px;
}

.btn-danger.btn-icon i {
    background-color: #a91e1e;
}

.btn-sm,
.btn-xs {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 2px;
}

.nicescroll-rails {
    z-index: 999 !important;
}


/*****************/

.navbar-header {
    float: left;
}

.navbar-nav>li {
    float: left;
}

.navbar-nav {
    margin: 0;
}

.tag-pill {
    border: 1px solid #355569;
    border-radius: 100%;
    padding: 0px 5px;
    font-size: 10px;
    color: #355569;
    background: #fff;
    display: inline-block;
    height: 16px;
    line-height: 16px;
}

.tag-up {
    position: absolute;
    top: 7px;
    right: 4px;
}


/*** Custom Input File ***/

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    font-size: 12px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    padding: 0px;
    height: 30px;
}

.no-js .inputfile+label {
    display: none;
}

.inputfile:focus+label,
.inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 6 */

.inputfile-6+label {
    color: #d3394c;
}

.inputfile-6:focus+label,
.inputfile-6.has-focus+label,
.inputfile-6+label:hover {
    border-color: #dcdcdc;
}

.inputfile-6+label span,
.inputfile-6+label strong {
    padding: 5px 20px;
}

.inputfile-6+label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6+label strong {
    height: 100%;
    color: #ffffff;
    background-color: #d80309;
    display: inline-block;
}

.inputfile-6:focus+label strong,
.inputfile-6.has-focus+label strong,
.inputfile-6+label:hover strong {
    background-color: #d80309;
}

li.ipdbtn {
    float: right;
}
.error{
    color: #e70b0be6;
}
.icon-medium{
    width: 100px;
}
.icon-60{
    width: 60px;
}
.address_list li{
    color: #355569;
    margin-bottom: 2px;
    font-size: 15px;
}
/*.alert {
    padding: 8px !important;
    margin-bottom: 2px !important;
    border-radius: 2px !important;
    font-size: 14px;
}*/
.comapny_logo{
    width: 70px;
}
.status_green{
    color: green;
}
.status_red{
    color: red;
}
li.active_child>a{
    background-color: #f5f5f5 !important;
    color: #0c0b0b !important;
}
.input_help{
    color: #55a3ed;
    font-size: 12px;
}
.verifylink {
    color: #15d554;
    font-size: 10px;
    float: right;
    margin-top: 1px;
}
.unverified{
   color: #ff5b61;
   font-size: 10px;
    float: right;
    margin-top: 1px;
}
.loader_image{
    position: absolute;
    z-index: 9;
    left: 0;
    bottom: 0;
    top: -77px;
    right: 0;
    margin: auto;
    width: 50px;
}

/*.comp_name{
    color: #3289c8;
    cursor: pointer;
}
.comp_name:hover .action_btns.hide-elem,.action_btns.hide-elem:hover{
    display: block;
}
.action_btns{
    margin-top: -5px;
    padding: 5px 0;
}*/